.App {
  font-family: monospace;
  text-align: center;
  font-size: 24px;
  color: white;
  display: block;
  margin: 0 auto;
  width: 90%;
}
.App section {
  background: #e3f6f5;
  padding: 24px;
  border-radius: 16px;
  display: block;
  margin: 20px 0;

  box-shadow: 0 10px 20px rgba(0 0 0 /10%);
}

html,
body {
  margin: 0;
  height: 100%;
  background: #385170;
  background-size: cover;
}

h1 {
  letter-spacing: 0.08em;
}
